:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --primary-wh-color: #FFFFFF;
  --secondary-bg-color: #2F303A;
  --primary-black-color: #000000;
  --secondary-white-color: rgba(255, 255, 255, 0.6);
  --grey-bg-color: #F5F4FA;
  --hover-button-color: #188CE8;
  --header-border-color: #ECECEC;
  --portfolio-border-color: #EEEEEE;
  --background-hero-color: #C4C4C4;
  --primary-icon-color: #AFB1B8;
  --bg-icon-color: rgba(255, 255, 255, 0.1);
  --bg-thumb-black: rgba(47, 48, 58, 0.8);
  --bg-accent: rgba(33, 150, 243, 0.9);
  --modal-bg: rgba(0, 0, 0, 0.2);
  --footer-br-color: rgba(255, 255, 255, 0.3);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

body {
  background-color: var(--primary-wh-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.link,
.map-link {
  text-decoration: none;
}

.list {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.logo {
  align-self: center;
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}
@media screen and (min-width: 768px) {
  .navigation__logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .navigation__logo {
    margin-right: 93px;
  }
}
.logo__header-title {
  color: var(--primary-black-color);
}

.logo__footer-title {
  color: var(--primary-wh-color);
}

.button {
  padding: 10px 24px;
  border-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  color: var(--primary-wh-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  background-color: var --hover-button-color;
}

@media screen and (min-width: 1200px) {
  .button {
    padding-left: 32px;
    padding-right: 32px;
  }
}
.section__title,
.features__title,
.command__title,
.works__title {
  color: var(--title-text-color);
}

.section__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.singup-title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-wh-color);
  margin-bottom: 20px;
}

.singup-input {
  padding: 15px;
  width: 358px;
  border: 1px solid var(--footer-br-color);
  border-radius: 4px;
  background-color: transparent;
  color: var(--primary-wh-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.singup-input:focus {
  outline: none;
  border-color: var(--primary-wh-color);
}
.singup-input::placeholder {
  font-size: 16px;
  line-height: 1.25x;
  color: var(--secondary-white-color);
}

.btn-wrapper {
  display: flex;
}

.singup-btn {
  padding: 10px 28px;
  margin-left: 12px;
  border: 0 solid transparent;
  border-radius: 4px;
  cursor: pointer;
  color: var(--primary-wh-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.singup-btn:hover, .singup-btn:focus {
  background-color: var(--hover-button-color);
}

.singup-icon {
  fill: var(--primary-wh-color);
  margin-left: 10px;
  align-self: center;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: var(--modal-bg);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scale(0.8);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%);
  height: 581px;
  width: 528px;
  background-color: var(--primary-wh-color);
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:focus, .modal-close-btn:hover {
  fill: var(--accent-color);
}

.modalform-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
}

.modalform {
  display: flex;
  flex-direction: column;
}

.modalform-field-desc {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.modalform-field:nth-child(-n+3) {
  margin-bottom: 10px;
}

.modalform-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  color: var(--primary-black-color);
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modalform-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modalform-input-wrapper {
  position: relative;
}

.modalform-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  fill: var(--title-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modalform-input:focus + .modalform-icon {
  fill: var(--accent-color);
}

.modalform-message {
  display: block;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 12px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modalform-message::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modalform-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modalform-check-field {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.modalform-check {
  position: absolute;
  appearance: none;
}

.modalform-own-checkbox {
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modalform-check:checked + .modalform-own-checkbox {
  background-color: var(--accent-color);
  border-color: transparent;
}

.privacy-link {
  color: var(--accent-color);
}

.modalform-own-checkbox-icon {
  display: none;
  fill: #ffffff;
}
.modalform-check:checked + .modalform-own-checkbox .modalform-own-checkbox-icon {
  display: block;
}

.modalform-btn {
  align-self: center;
  padding: 10px 52px;
  border-color: transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--primary-wh-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modalform-btn:hover, .modalform-btn:focus {
  background-color: var(--hover-button-color);
  outline: none;
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: var(--primary-wh-color);
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu__container {
    position: relative;
    padding: 48px 40px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .menu-button-close {
    position: absolute;
    top: 10px;
    right: 15px;
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
  }
  .menu-button-close__icon {
    width: 40px;
    height: 40px;
    fill: var(--title-text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-button-close:hover .menu-button-close__icon, .menu-button-close:focus .menu-button-close__icon {
    fill: var(--accent-color);
  }
  .mobile-menu.is-open {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
  .mobile-menu-list {
    display: block;
  }
  .mobile-menu-list__item {
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.02em;
  }
}
@media screen and (max-width: 767px) and (max-width: 479px) {
  .mobile-menu-list__item {
    font-size: 4vh;
  }
}
@media screen and (max-width: 767px) and (min-width: 480px) {
  .mobile-menu-list__item {
    font-size: 40px;
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu-list__link {
    display: block;
    padding-bottom: 32px;
    color: var(--title-text-color);
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu-list__link_current {
    color: var(--accent-color);
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu-contacts {
    display: block;
    margin-top: auto;
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu-contacts__link {
    display: block;
    padding-bottom: 32px;
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu-contacts__phone {
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
}
@media screen and (max-width: 767px) and (max-width: 479px) {
  .mobile-menu-contacts__phone {
    font-size: 3.4vh;
  }
}
@media screen and (max-width: 767px) and (min-width: 480px) {
  .mobile-menu-contacts__phone {
    font-size: 34px;
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu-contacts__email {
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
  }
}
@media screen and (max-width: 767px) and (max-width: 479px) {
  .mmobile-menu-contacts__email {
    font-size: 2.4vh;
  }
}
@media screen and (max-width: 767px) and (min-width: 480px) {
  .mobile-menu-contacts__email {
    font-size: 24px;
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu-social {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 32px;
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu-social__item {
    display: block;
    font-weight: 500;
    line-height: 1.22;
    letter-spacing: 0.02em;
  }
  .mobile-menu-social__item:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}
@media screen and (max-width: 767px) and (max-width: 479px) {
  .mobile-menu-social__item {
    font-size: 1.8vh;
  }
}
@media screen and (max-width: 767px) and (min-width: 480px) {
  .mobile-menu-social__item {
    font-size: 18px;
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu-social__link {
    color: var(--accent-color);
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.header {
  border-bottom: 1px solid var(--header-border-color);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .site-nav,
.site-contact {
    display: none;
  }
  .menu-button-open {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
  }
  .menu-button-open__icon {
    width: 40px;
    height: 40px;
  }
}
@media screen and (min-width: 768px) {
  .menu-button-open {
    display: none;
  }
  .navigation {
    display: flex;
  }
  .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }
  .site-nav__link,
.site-nav,
.site-contact__link {
    display: flex;
    align-items: center;
  }
  .site-contact__icon {
    fill: currentColor;
    margin-right: 8px;
  }
  .site-nav__link {
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--title-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site-nav__link:hover, .site-nav__link:focus {
    color: var(--accent-color);
  }
  .site-nav__link_current {
    color: var(--accent-color);
  }
  .site-nav__link_current::after {
    content: "";
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
  .site-contact__link {
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site-contact__link:hover, .site-contact__link:focus {
    color: var(--accent-color);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .site-contact__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .site-contact__item:not(:last-child) {
    margin-right: 30px;
  }
  .site-contact {
    display: flex;
    align-items: center;
  }
  .site-contact__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .site-contact__icon {
    margin-right: 10px;
  }
}
.hero {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--background-hero-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-m.jpg");
  background-size: cover;
  background-position: center;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-m@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-t.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-t@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero@2x.jpg");
  }
}
.hero__title {
  width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  color: var(--primary-wh-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
.features__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.features__item {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .features__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}
.features__icon {
  width: 70px;
  height: 70px;
}

.features__box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: var(--grey-bg-color);
  margin-bottom: 30px;
}

.features__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
}

@media screen and (max-width: 767px) {
  .features__title {
    text-align: center;
  }
}
.features__description {
  line-height: 1.72;
}

.our-work {
  padding-top: 0;
}

.our-work-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.our-work-item {
  position: relative;
  flex-basis: calc((100% - 60px) / 3);
}

.our-work__title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-wh-color);
}

.our-work-thumb {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: var(--bg-thumb-black);
}

.command {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.command__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.command-profession {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.command-card {
  padding-top: 30px;
  padding-bottom: 30px;
}

.our-team {
  background-color: var(--grey-bg-color);
}

.command-item {
  background-color: var(--primary-wh-color);
  flex-basis: calc((100% - 90px) / 4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.social-list {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--primary-wh-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link:hover, .social-list-link:focus {
  background-color: var(--accent-color);
}

.social-list-icon {
  fill: var(--primary-icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link:hover .social-list-icon, .social-list-link:focus .social-list-icon {
  fill: var(--primary-wh-color);
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--primary-icon-color);
  border-radius: 4px;
  color: var(--primary-icon-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover, .clients-link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.clients-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.clients-icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.portfolio-button {
  padding: 6px 22px;
  border-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--grey-bg-color);
  color: var(--title-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-button.active {
  background-color: var(--accent-color);
  color: var(--primary-wh-color);
}
.portfolio-button:hover, .portfolio-button:focus {
  background-color: var(--accent-color);
  color: var(--primary-wh-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filters {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.works {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.works-item {
  flex-basis: calc((100% - 60px) / 3);
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--bg-accent);
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-wh-color);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover .overlay, .portfolio-link:focus .overlay {
  transform: translateY(0);
}

.works-card {
  padding: 20px 24px;
  border-right: 1px solid var(--portfolio-border-color);
  border-bottom: 1px solid var(--portfolio-border-color);
  border-left: 1px solid var(--portfolio-border-color);
}

.works__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.works-type {
  font-size: 16px;
  line-height: 1.88;
}

.portfolio-link {
  display: block;
  color: var(--primary-text-color);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover, .portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.footer {
  background-color: var(--secondary-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.address {
  margin-top: 20px;
}

.footer-contact {
  font-style: normal;
  line-height: 1.7;
}
.footer-contact .map-link {
  color: var(--primary-wh-color);
}
.footer-contact .link {
  color: var(--secondary-white-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contact .link:hover, .footer-contact .link:focus {
  color: var(--accent-color);
}

.footer-map {
  margin-bottom: 6px;
}

.footer-mail {
  margin-bottom: 9px;
}

.footer-box {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.social-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-wh-color);
  margin-bottom: 20px;
}

.social-list-link-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--bg-icon-color);
  color: var(--primary-wh-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link-footer:hover, .social-list-link-footer:focus {
  background-color: var(--accent-color);
}
.social-list-link-footer .social-list-icon {
  fill: currentColor;
}
.social-list-link-footer:hover .social-list-link-footer .social-list-icon, .social-list-link-footer:focus .social-list-link-footer .social-list-icon {
  fill: var(--primary-wh-color);
}/*# sourceMappingURL=main.css.map */