.site-nav__item:not(:last-child),
.site-contact__item:not(:last-child) {
    margin-right: 50px;
}


.site-nav__link,
.site-contact__link {
    display: flex;
    align-items: center;
}

.site-contact__icon {
    fill: currentColor;
    margin-right: 10px;

}