.singup-title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-wh-color);
  margin-bottom: 20px;
}

.singup-input {
  padding: 15px;
  width: 450px;
  border: 1px solid var(--footer-br-color);
  border-radius: 4px;
  background-color: transparent;
  color: var(--primary-wh-color);
  margin-bottom: 20px;
  display: block;
  justify-content: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    outline: none;
    border-color: var(--primary-wh-color);
  }

  &::placeholder {
    font-size: 16px;
    line-height: 1.25x;
    color: var(--secondary-white-color);
  }
}

@media screen and (max-width: 479px) {
  .singup-input {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .singup-input {
    width: 358px;
  }
}

.btn-wrapper {
  display: flex;
}

.singup-btn {
  display: block;
  padding: 13px 28px 13px 31px;
  margin-left: auto;
  margin-right: auto;
  border: 0 solid transparent;
  border-radius: 4px;
  cursor: pointer;
  color: var(--primary-wh-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--hover-button-color);
  }
}

@media screen and (min-width: 1200px) {
  .singup-btn {
    margin: 0;
    margin-left: 12px;
  }
}

.singup-icon {
  fill: var(--primary-wh-color);
  margin-left: 12px;
  align-self: center;
}

@media screen and (max-width: 1199px) {
  .singup-form {
    flex-direction: column;
  }
}

.singup-form {
  display: flex;
  align-items: center;
  width: 100%;
}
