:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-wh-color: #FFFFFF;
    --secondary-bg-color: #2F303A;
    --primary-black-color: #000000;
    --secondary-white-color: rgba(255, 255, 255, 0.6);
    --grey-bg-color: #F5F4FA;
    --hover-button-color: #188CE8;
    --header-border-color: #ECECEC;
    --portfolio-border-color: #EEEEEE;
    --background-hero-color: #C4C4C4;
    --primary-icon-color: #AFB1B8;
    --bg-icon-color: rgba(255, 255, 255, 0.1);
    --bg-thumb-black: rgba(47, 48, 58, 0.8);
    --bg-accent: rgba(33, 150, 243, 0.9);
    --modal-bg: rgba(0, 0, 0, 0.2);
    --footer-br-color: rgba(255, 255, 255, 0.3);
}